<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Utils.TripperApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Activities.MessagingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TripActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FriendsListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.YourTripsActivity"
            android:exported="false" />

        <service
            android:name=".Notifications.TripperMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PersonalProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Login.SetupProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Login.WelcomeUsersActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenu.AddTripActivity"
            android:exported="false" />
        <activity
            android:name=".Login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenu.MainMenuActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="channel" />
    </application>

</manifest>